.pink {
    color:rgb(186, 64, 85);
    background-color: rgb(246, 216, 221);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    

}

.Odd {
    
    background-color: rgb(246, 216, 221);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 6px; 
    
}

.list {
    background-color: seashell;

}

.Olist {
    background-color: seashell;
}

.In,
.Cup,
.Cookie {
   background-color: rgb(246, 216, 221);
   color: rgb(186, 64, 85);
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 8px;
}

.Cake {
    background-color: rgb(246, 216, 221);
    text-align: center;
    padding: 12px;
    margin: 8px;

}

.Color {
    background-color: seashell;
}
.pic{
  display: flex;
  text-align: center;
  
}

.Art {
    flex: 33.33%;
    padding: 5px;}

.button {
    text-align: center;
    padding: 2px;
    background-color: pink;
  
}