.pink {
    color:rgb(186, 64, 85);
    background-color: rgb(246, 216, 221);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    

}

.Odd {
    
    background-color: rgb(246, 216, 221);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 6px; 
    
}

.list {
    background-color: seashell;
    color: rgb(186, 64, 85);

}

.Olist {
    background-color: seashell;
    color: rgb(186, 64, 85);
}

.In
 {
   
   color: rgb(186, 64, 85);
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 0px;
   text-align: center;
}

.cake {
   color:rgb(186, 64, 85);
    text-align: center;
    padding: 0px;
    margin: 10px;
    display: block;

}

.Color {
    background-color: seashell;
}
.pic{
  display: flex;
  text-align: center;
  
}

.Art {
    flex: 5%;
    padding: 0px;
    margin: 0px }

.button {
    background-color: pink;
    text-align: center;
    margin: 8px;
}
.Cup,
.Cookie{ background-color:  rgb(246, 216, 221);
    color:rgb(186, 64, 85);

}